.header {
    display: flex;
    justify-content:space-between;
    border: 2px solid black;
    background-color: rgb(185, 131, 131);
    height: 8vh;
}

.logo {
    width: 5em;
    height: 8vh;
}

.navBar > ul{
    height: 8vh;
    padding: 3px;
    list-style: none;
    display: flex;
    margin: 5px;
}

.navBar >ul > li{  
    list-style: none;
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.res-card {  
    height: 30vh;
    width: 11vw;
    background-color: white;
    padding: 5px;
}

.res-card:hover {
   cursor: pointer;
   border: 1px solid black;
   background-color: whitesmoke;
    height: 28vh;
    width: 10.5vw;
}

.res-logo{
    width: 93%;
    height: 52%; 
    border-radius: 25px;
    display: block;
    margin: auto;
}

#resName{
    height: 1vh;
    width: 15vw;
}

.ratingTime {
    display: flex;
    justify-content:space-between;
    height: 3vh;
}

.menu-heading{
    width: 50%;
    margin: 2% auto 2% auto;
}

.res-category{
    width:50%;
    margin:auto;
    margin-bottom: 2%;
    padding: 4;
    background-color: rgb(243, 246, 246);
    box-shadow: 5px lightgray;
    font: bold;
    cursor: pointer;
}

.res-category-title {
     display: flex; 
     justify-content: space-between;
}
